<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2 login">User Login</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" name="email"
           placeholder="Enter Email"
           class="form-control mb-2" [ngClass]="{
           'is-invalid': email.invalid && (email.dirty || email.touched),
           'is-valid': email.valid && (email.dirty || email.touched)
           }"
           [(ngModel)]="user.email" #email="ngModel"
           email required />
    <!--SHOW INVALID COMPONENT MESSAGE-->
    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required!
      </div>
      <div *ngIf="email.errors.email">
        This is not a valid Email!
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password"
           placeholder="Enter Password"
           class="form-control mb-2" [ngClass]="{
           'is-invalid': password.invalid && (password.dirty || password.touched),
           'is-valid': password.valid && (password.dirty || password.touched)
           }"
           [(ngModel)]="user.password" #password="ngModel" required />
    <!--SHOW INVALID COMPONENT MESSAGE-->
    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Password is required!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-2" type="submit" (click)="enter()">Login</button>

    <!-- Binding the img attribute src with the component public variable imageAddress -->
    <img id="buyImage" [src]="imageAddress" [title]="title" />

    <!--Informing that the User is created-->
    <!--<div class="alert alert-success" role="alert" *ngIf="authentifiedUser">
      User connected!
    </div>-->
  </form>
</div>
